@model SimApp.Models.SimModel
@{
    ViewData["Title"] = "Editar Sim";
    var edades = ViewData["edades"] as List<string>;
}

<h1>Editar Sim</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Apellido" class="form-label"></label>
                    <input asp-for="Apellido" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IsMujer" class="form-label"></label>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsMujer,false,new{@class="form-check-input"})
                        <label class="form-check-label">Hombre</label>
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsMujer,true,new{@class="form-check-input"})
                        <label class="form-check-label">Mujer</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Edad" class="form-label"></label>
                    <select asp-items="@(new SelectList(edades))" asp-for="Edad" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="IsMuerto" class="form-label"></label>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsMuerto,false,new{@class="form-check-input"})
                        <label class="form-check-label">Vivo</label>
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.IsMuerto,true,new{@class="form-check-input"})
                        <label class="form-check-label">Fallecido</label>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Index">Volver a la Lista</a>
        </div>
    </div>

    
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}